#post-content ul {
  margin-top: 28px;
}

#post-content ul li {
  list-style: disc;
}

#post-content ol {
  margin-top: 0px;
}

#post-content ol li {
  list-style: decimal;
}

#post-content strong {
  font-weight: 700;
}

#post-content blockquote {
  margin: 14px 0;
  padding: 7px 21px;
}

#post-content .footnotes {
  font-size: 0.8em;
}

#post-content figure figcaption {
  margin-top: 10px;
}

#post-content hr {
  visibility: initial;
  position: initial;
  border: none;
  background: #d4d4d4;
  margin: 28px 0 0 0;
  padding: 0;
  width: 100%;
}
