<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
    {% if page.style %}
        {% for stylesheet in page.style %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}
</head>
<body class="{{ page.layout | append: '-template' }}">

{% include header.html %}

<div id="wrapper">
    {{ content }}

    <div class="clearfix"></div>

    <a href="#" id="back-to-top"></a>
</div>

{% include footer.html %}

<script src="{{ site.asset_url | relative_url }}/lib/jquery-1.12.0.min.js"></script>
<script src="{{ site.asset_url | relative_url }}/lib/jquery.magnific-popup.min.js"></script>
<script src="{{ site.asset_url | relative_url }}/js/index.js"></script>

<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- 
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}

{% if page.layout != 'home' %}
    {% include kakaostory_sdk.html %}

    {% if site.facebook %}
    {% include facebook_sdk.html %}
    {% endif %}

    {% if site.twitter %}
    {% include twitter_sdk.html %}
    {% endif %}

    {% if site.google_plus %}
    {% include google_plus_sdk.html %}
    {% endif %}
{% endif %} -->
</body>
</html>
