---
layout: default
---
<div id="cover" class="container-fluid"
     {% if site.image %}style="background-image:url({{ site.image | relative_url }});"{% endif %}>
    {% if paginator.page == 1 %}
        <!--[if (gt IE 9)|!(IE)]><!-->
        <video loop muted preload="metadata" crossorigin="anonymous">
            <source src="{{ site.asset_url | relative_url }}/images/blog_cover.webm" type="video/webm"/>
            <source src="{{ site.asset_url | relative_url }}/images/blog_cover.ogv" type="video/ogg"/>
            <source src="{{ site.asset_url | relative_url }}/images/blog_cover.mp4" type="video/mp4"/>
        </video>
        <!--<![endif]-->
    {% endif %}
    <div>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description | newline_to_br }}</p>
    </div>
</div>
